<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- css sheet goes here -->
    <link href="" rel="stylesheet" type="text/css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
