<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

  </head>
  <body>
    <h1>To Do List</h1>
    {{{body}}}
  </body>
</html>
