<div id="todo-table">
  <form>
    <input type="text" name="item" placeholder="Add new item..." required />
    <button type="submit">Add</button>
  </form>
  <ul>
    {{#each todos}}
      <li>
        {{item}}
      </li>
    {{/each}}
  </ul>
</div>
